################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assignments/Student System/.vs/Student System/FileContentIndex
/Assignments/Student System/.vs/Student System/v17
/Assignments/Student System/Student System/obj/Debug/net8.0-windows
/Assignments/Student System/Student System/obj
